// _varaibles.scss
// Store all the variables in here

// Bootstrap's grid breakpoints
// Use them this way: map-get($grid-breakpoints, sm)
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Pebble orange color
$pebble-color: #ff4700;

// Main Background color (originally a really light gray)
$main-bg-color: #f4f3f4;
