// _fonts.scss
// Set font-family and font-weight in here

// Open Sans 300 for titles and 400 for small titles
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400');

//Raleway 400, 400i, 700, 700i for all of the other text
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i');

body {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6, small {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
b {
    font-weight: 700;
}

// Change search input font-family
.search {
    input {
        font-family: 'Open Sans', sans-serif;
    }
}


// Change fonts in the app-details page
.app-details {
    // Change app description font and weight
    pre.description {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
    }
    // Change App extra-info table font (Author, Version, Release date, etc...)
    table {
        tr td {
            font-family: 'Open Sans', sans-serif;
        }
        tr td:last-child {
            // A second font to make it look different from the first column
            font-family: 'Raleway', sans-serif;
        }
    }

    // Change the fonts from the buttons at the bottom of the app-details container
    a.app-button {
        div {
            font-family: 'Open Sans', sans-serif;
        }
    }
}

// Change the small "pebble" text in the navbar weight (it was to thin so I had to make it bigger)
.navbar-dark.bg-inverse.translucent {
    .navbar-brand {
        small {
            font-weight: 400;
        }
    }
}