// _header.scss
// Header styles including carousel, navbar and app-banners

// Select the dark translucent navbar
.navbar-dark.bg-inverse.translucent {

    // Navbar brand (app logo or title) styles
    .navbar-brand {
        float: none;
        margin: 0;
        position: relative;
        top: 5px;

        // Make text smaller on small screens
        @media screen and (max-width: 370px) {
            top: 9px;
            font-size: 1rem;
        }
    }

    // Hamburger icon
    .navbar-toggler, .navbar-toggler:focus {
        border: 0;
        border-radius: 0;
        outline: none;
    }
    background-color: rgba(55, 58, 60, 0.95)!important;


    @supports (backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)) {
        // Styles that are in here will only apply if backdrop filters are supported by the browser
         background-color: rgba(55, 58, 60, 0.88)!important;

         // Make the navbar background blurry
         backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    // Back arrow button
    a.back {
        font-size: 27px;
        color: #a5a6a7;
    }
}
.navbar__items {
    position: absolute;
    right: 20px;
    top: 8px;

    > * {
        display: inline-block;
        vertical-align: middle;
    }
}

// Collapsable menu (this may change in the future) in which you select to browse watchfaces or apps
#categorySelector {
    width: 100vw;
    margin-left: -16px;
    margin-right: -16px;

    // Change default button group styles to ones that match the style
    .btn-group {
        .btn-outline-secondary {
            border-color: rgba(204, 204, 204, 0.50);
            color: rgba(204, 204, 204, 0.50);
            &.active, &:active,  &:hover {
                color: #fff;
                background-color: rgba(204, 204, 204, 0.50);

                // Overwrite bootstrap style
                border-color: rgba(204, 204, 204, 0.50);
            }
            &:focus, &.focus {
                // Overwrite bootstrap style
                border-color: rgba(204, 204, 204, 0.50);
            }
        }

    }
}

// This .carousel section is actualy the header with the dark grey color (maybe should be completely renamed)
header {
  padding-top: 58px;
  background: linear-gradient(to bottom, rgba(55, 58, 60, 1) 0%, rgba(55, 58, 60, 1) 65%, rgba(55, 58, 60, 0) 65%, rgba(55, 58, 60, 0) 100%);

  // Carousel container
  .carousel {
    max-width: 720px;
    max-height: 320px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background-color: #000;
    }

    // Similar to carousel but only used when displaying only one image
    .app-banner {
        @extend .carousel;
        img {
            width: 100%;
            max-width: 720px;
        }
    }

    // Card that also goes in the header in which title text is displayed
    .title-card {
        @extend .carousel;
        max-height: auto;
        width: 90vw;
        padding: 20px;
        background-color: #fff;
        h3 {
            margin: 0;
        }
    }

    // Similar to title card but with a search input
    .search {
        padding: 0;
        input {
            width: 100%;
            height: 70px;
            font-size: 1.75rem;
            padding: 20px;
            border: 0;
            background: none;
            color: #373a3c;
            &:focus {
                outline: none;
            }
        }
    }
}
