// _helpers.scss
// Mostly styles that doesnt fit anywhere else

body {
  background-color: $main-bg-color;
}

// Pebble color helper class
.pebble {
  color: $pebble-color !important;
  display: inline;
}

// Pebble colored tag
.tag-pebble {
    background-color: $pebble-color;
    //color: #333;
}

// Add new card style called subsection with inverse color
.card.subsection {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0;
    margin-bottom: 40px;
}
.card.subsection-inverse {
    @extend .card.subsection;
    background-color: #333;
    border-color: #333;
}
