@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i");
body {
  background-color: #F4F3F4;
  font-family: 'Raleway', sans-serif; }

h1, h2, h3, h4, h5, h6, small {
  font-family: 'Open Sans', sans-serif; }

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400; }

b {
  font-weight: 700; }

.navbar-fixed-top .navbar-brand {
  float: none;
  margin: 0;
  position: relative;
  top: 5px; }
  .navbar-fixed-top .navbar-brand small {
    font-weight: 400; }

.navbar-dark.bg-inverse.translucent {
  background-color: rgba(55, 58, 60, 0.95) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); }
  .navbar-dark.bg-inverse.translucent .navbar-toggler, .navbar-dark.bg-inverse.translucent .navbar-toggler:focus {
    border: 0;
    border-radius: 0;
    outline: none; }
  @supports (backdrop-filter: blur(10px)) {
    .navbar-dark.bg-inverse.translucent {
      background-color: rgba(55, 58, 60, 0.88) !important; } }

a.back {
  font-size: 27px;
  color: #a5a6a7; }

a.search {
  font-size: 18px;
  color: #a5a6a7;
  padding: 5px; }

#categorySelector {
  width: 100vw;
  margin-left: -16px;
  margin-right: -16px; }
  #categorySelector .btn-group {
    color: rgba(204, 204, 204, 0.5); }
    #categorySelector .btn-group .btn-outline-secondary.active, #categorySelector .btn-group .btn-outline-secondary:active, #categorySelector .btn-group .btn-outline-secondary:hover, #categorySelector .btn-group .open > .btn-outline-secondary.dropdown-toggle {
      color: #fff;
      background-color: rgba(204, 204, 204, 0.5);
      border-color: rgba(204, 204, 204, 0.5); }
    #categorySelector .btn-group .btn-outline-secondary, #categorySelector .btn-group .btn-outline-secondary:focus, #categorySelector .btn-group .btn-outline-secondary.focus {
      border-color: rgba(204, 204, 204, 0.5); }

.carousel-section {
  padding-top: 58px;
  background: linear-gradient(to bottom, #373a3c 0%, #373a3c 65%, rgba(55, 58, 60, 0) 65%, rgba(55, 58, 60, 0) 100%); }

.title-card {
  max-width: 720px;
  width: 90vw;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff; }
  .title-card h3 {
    margin: 0; }

.carousel {
  max-width: 720px;
  max-height: 320px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: #000; }

.app-banner {
  max-width: 720px;
  max-height: 320px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: #000; }
  .app-banner img {
    width: 100%;
    max-width: 720px; }

main.apps {
  margin-top: 40px; }
  main.apps section {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto; }

.header-tool {
  margin-bottom: 40px; }

.header {
  height: 30px; }
  .header h6 {
    float: left;
    display: inline;
    margin-right: 10px; }
  .header a {
    color: #696969;
    float: right; }
    .header a:hover, .header a:focus {
      text-decoration: none;
      outline: none; }

.pebble {
  color: #ff4700 !important;
  display: inline; }

.tag-pebble {
  background-color: #ff4700; }

.card.subsection-inverse {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0;
  margin-bottom: 40px;
  background-color: #333;
  border-color: #333; }

.card.subsection {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0;
  margin-bottom: 40px; }

.app-title {
  padding-left: 68px !important; }
  .app-title img {
    position: absolute;
    border-radius: 4px;
    width: 42px;
    height: 42px;
    left: 16px; }
  .app-title .title-author {
    height: 42px;
    margin-top: -3px;
    margin-bottom: 3px;
    display: inline-block; }
    .app-title .title-author h1 {
      font-size: 19px;
      line-height: 26px;
      display: inline;
      color: #fff; }
    .app-title .title-author h2 {
      line-height: 16px;
      font-size: 16px;
      color: #c3c3c3;
      margin: 0; }

.rating {
  margin-top: 2px;
  margin-bottom: 2px; }
  .rating i {
    margin-right: 4px; }
  .rating .btn-outline-secondary:hover, .rating .btn-outline-secondary:focus, .rating .btn-outline-secondary.active {
    color: #333;
    outline: none; }

.app-details h1 {
  font-size: 20px;
  margin: none; }
.app-details hr {
  margin-top: 4px; }
.app-details pre.description {
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  font-family: 'Raleway', sans-serif;
  font-weight: 400; }
.app-details table {
  margin-top: 30px;
  margin-bottom: 30px; }
  .app-details table tr td {
    font-family: 'Open Sans', sans-serif;
    padding-right: 10px; }
  .app-details table tr td:last-child {
    font-family: 'Raleway', sans-serif;
    padding-right: 0; }
.app-details a.app-button {
  color: #ff4700; }
  .app-details a.app-button div {
    width: calc(100% + 2rem);
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
    margin-left: -16px;
    margin-right: -16px;
    border-top: 1px solid #e1e1e1; }
    .app-details a.app-button div i {
      font-size: 25px; }
.app-details a:last-child div {
  margin-bottom: -1rem; }
.app-details a.app-button:hover, .app-details a.app-button:focus {
  text-decoration: none;
  outline: none; }

.btn-download {
  margin-left: 10px;
  color: #ff4700;
  border-color: #ff4700;
  background-image: none;
  background-color: transparent; }
  .btn-download i {
    margin-right: 4px; }

.btn-download:hover {
  background-color: #ff4700;
  color: #333; }

.apps section {
  margin-bottom: 40px; }
.apps section:last-child {
  margin-bottom: 0; }
.apps .card-columns {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  column-count: 3;
  column-gap: 1.25rem; }
  @media screen and (min-width: 992px) {
    .apps .card-columns {
      column-count: 4; } }
  .apps .card-columns a {
    color: #373a3c;
    text-decoration: none; }
  .apps .card-columns a:hover, .apps .card-columns a:focus {
    color: #373a3c;
    outline: none;
    text-decoration: none; }
  .apps .card-columns .card {
    max-width: 170px;
    margin: 5px; }
    @media screen and (max-width: 576px) {
      .apps .card-columns .card {
        max-width: 32vw; }
        .apps .card-columns .card .card-title {
          font-size: 16px; }
        .apps .card-columns .card .card-text {
          font-size: 14px; } }
    .apps .card-columns .card img {
      width: 100%;
      height: auto; }

ul.pagination .page-item .page-link:hover, ul.pagination .page-item .page-link:focus {
  text-decoration: none;
  outline: none; }
ul.pagination .page-item .page-link {
  color: #ff4700; }
ul.pagination .page-item.active .page-link {
  background: #ff4700;
  border-color: #ff4700;
  color: #fff; }
ul.pagination .page-item.disabled .page-link {
  color: #818a91; }

footer {
  margin-top: 40px;
  background-color: #ff4700;
  color: #fff;
  padding: 5px 10px; }
  footer p {
    display: inline; }
  footer a, footer a:hover, footer a:focus {
    color: #ebebeb;
    text-decoration: none; }

/*# sourceMappingURL=main.css.map */
