$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
body {
  background-color: #F4F3F4;
}

.navbar-fixed-top {
    .navbar-brand {
        float: none;
        margin: 0;
    }
}

.navbar-dark.bg-inverse.translucent {
    .navbar-toggler, .navbar-toggler:focus {
        border: 0;
        border-radius: 0;
        outline: none;
    }
    background-color: rgba(55, 58, 60, 0.95)!important;
    @supports (backdrop-filter: blur(10px)) {
    // code that will only run if CSS Grid is supported by the browser 
         background-color: rgba(55, 58, 60, 0.88)!important;
    }

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#categorySelector {
    .btn-group {
        .btn-outline-secondary.active, .btn-outline-secondary:active,  .btn-outline-secondary:hover, .open>.btn-outline-secondary.dropdown-toggle {
            color: #fff;
            background-color: rgba(204, 204, 204, 0.50);
            border-color: rgba(204, 204, 204, 0.50);
        }
        .btn-outline-secondary, .btn-outline-secondary:focus, .btn-outline-secondary.focus {
            border-color: rgba(204, 204, 204, 0.50);
        }
        color: rgba(204, 204, 204, 0.50);
    }
}
.carousel-section {
  padding-top: 58px;
  background: linear-gradient(to bottom, rgba(55, 58, 60, 1) 0%, rgba(55, 58, 60, 1) 65%, rgba(55, 58, 60, 0) 65%, rgba(55, 58, 60, 0) 100%);
}

.carousel {
  max-width: 720px;
  max-height: 320px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: #000;
}

main.apps {
  margin-top: 40px;
  section {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header {
  height: 30px;
  h6 {
    float: left;
    display: inline;
    margin-right: 10px;
  }
  a {
    color: #696969;
    float: right;
    &:hover, &:focus {
      text-decoration: none;
      outline: none;
    }
  }
}

.pebble {
  color: #ff4700 !important;
  display: inline;
}

.apps{ 
    section {
        margin-bottom: 40px;
    }
    section:last-child {
        margin-bottom: 0;
    }
    .card-columns {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        .card {
            max-width: 146px;
            img {
                width:100%;
                height:auto;
            }
        }
    }
}

footer {
    margin-top: 40px;
    background-color: #ff4700;
    color: #fff;
    padding: 5px 10px;
    p {
        display: inline;
    }
    a, a:hover, a:focus {
        color: #ebebeb;
        text-decoration: none;
    }
}