$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i');

body {
  background-color: #F4F3F4;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6, small {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
b {
    font-weight: 700;
}

.navbar-fixed-top {
    .navbar-brand {
        float: none;
        margin: 0;
        position: relative;
        top: 5px;
        small {
            font-weight: 400;
        }
        @media screen and (max-width: 370px) {
            top: 9px;
            font-size: 1rem;
        }
    }
}

.navbar-dark.bg-inverse.translucent {
    .navbar-toggler, .navbar-toggler:focus {
        border: 0;
        border-radius: 0;
        outline: none;
    }
    background-color: rgba(55, 58, 60, 0.95)!important;
    @supports (backdrop-filter: blur(10px)) {
    // code that will only run if CSS Grid is supported by the browser 
         background-color: rgba(55, 58, 60, 0.88)!important;
    }

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

a.back {
    font-size: 27px;
    color: #a5a6a7;
}
a.search {
    font-size: 18px;
    color: #a5a6a7;
    padding: 5px;
    svg {
        height: 22px;
        margin-top: 3px;
    }
}

#categorySelector {
    width: 100vw;
    margin-left: -16px;
    margin-right: -16px;
    .btn-group {
        .btn-outline-secondary.active, .btn-outline-secondary:active,  .btn-outline-secondary:hover, .open>.btn-outline-secondary.dropdown-toggle {
            color: #fff;
            background-color: rgba(204, 204, 204, 0.50);
            border-color: rgba(204, 204, 204, 0.50);
        }
        .btn-outline-secondary, .btn-outline-secondary:focus, .btn-outline-secondary.focus {
            border-color: rgba(204, 204, 204, 0.50);
        }
        color: rgba(204, 204, 204, 0.50);
    }
}
.carousel-section {
  padding-top: 58px;
  background: linear-gradient(to bottom, rgba(55, 58, 60, 1) 0%, rgba(55, 58, 60, 1) 65%, rgba(55, 58, 60, 0) 65%, rgba(55, 58, 60, 0) 100%);
}
.title-card {
    max-width: 720px;
    width: 90vw;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background-color: #fff;
    h3 {
        margin: 0;
    }
}

.search {
    padding: 0;
    input {
        width: 100%;
        height: 70px;
        font-size: 1.75rem;
        padding: 20px;
        border: 0;
        background: none;
        color: #373a3c;
        font-family: 'Open Sans', sans-serif;
    }
    input:focus {
        outline: none;
    }
}

.carousel {
  max-width: 720px;
  max-height: 320px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: #000;
}

.app-banner {
    max-width: 720px;
    max-height: 320px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background-color: #000;
    img {
        width: 100%;
        max-width: 720px;
    }
}

main.apps {
  margin-top: 40px;
  section {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}
.header-tool {
    margin-bottom: 40px;
}

.header {
  height: 30px;
  margin-bottom: 10px;
  h6 {
    float: left;
    display: inline;
    margin-right: 10px;
    margin-bottom: 0;
  }
  a {
    color: #696969;
    float: right;
    &:hover, &:focus {
      text-decoration: none;
      outline: none;
    }
  }
}

.pebble {
  color: #ff4700 !important;
  display: inline;
}

.tag-pebble {
    background-color: #ff4700;
    //color: #333;
}

.card.subsection-inverse {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0;
    margin-bottom: 40px;
    background-color: #333;
    border-color: #333;
}
.card.subsection {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0;
    margin-bottom: 40px;
}

.screenshots {
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    display: flex;
    margin-bottom: 40px;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    img {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 5px;
        margin-top: 5px;
        user-drag: none; 
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    .screenshot-spacer {
        width: calc(50vw - 92px);
        height: 168px;
        display: table;
    }
}
.screenshots::-webkit-scrollbar {
    background: transparent;
    width: 0 !important;
  }

.app-title {
    padding-left: 68px !important;
    img {
        position: absolute;
        border-radius: 4px;
        width: 42px;
        height: 42px;
        left: 16px;
    }
    .title-author {
        height: 42px;
        margin-top: -3px;
        margin-bottom: 3px;
        display: inline-block;
        h1 {
            font-size: 19px;
            line-height: 26px;
            display: inline;
            color: #fff;
        }
        h2 {
            line-height: 16px;
            font-size: 16px;
            color: #c3c3c3;
            margin: 0;
        }
        @media screen and (max-width: 430px) {
            h1 {
                font-size: 15px;
            }
            h2 {
                font-size: 12px;
            }
        }
        @media screen and (max-width: 320px) {
            h1 {
                font-size: 12px;
            }
            h2 {
                font-size: 10px;
            }
        }
    }
}

.rating{ 
    margin-top: 2px;
    margin-bottom: 2px;
    .btn {
        @media screen and (max-width: 430px) {
            margin-top: 3px;
            font-size: 0.7rem;
            padding: .5rem .5rem;
            svg {
                height: 16px !important;
                margin-right: -5px;
                margin-bottom: -10px;
                top:-6px !important;
            }
        }
        svg {
            height: 20px;
            position: relative;
            top: 2px;
        }
    }
    .btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary.active {
        color: #333;
        outline: none;
        svg #Thumbs-Up {
            stroke: #333;
            #Shape {
                fill: #ccc;
            }
        }
    }
}

.btn-download {
    margin-left: 10px;
    color: #ff4700;
    border-color: #ff4700;
    background-image: none;
    background-color: transparent;
}
.btn-download:hover {
    background-color: #ff4700;
    color: #333;
    svg {
        #Rectangle-10, #Rectangle-11, #Rectangle-8 #use2 {
            stroke: #333
        }

        #Rectangle-10, #Rectangle-8 #use1 {
            fill: #ff4700;
        }

    }
}

.app-details {
    h1 {
        font-size: 20px;
        margin: none;
    }
    h2 {
        font-size: 16px;
        display: inline;
    }
    h3 {
        display: inline;
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 4px;
    }
    hr {
        margin-top: 4px;
    }
    pre.description {
        word-wrap: break-word;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;

        font-family: 'Raleway', sans-serif;
        font-weight: 400;
    }
    table {
        margin-top: 30px;
        margin-bottom: 30px;
        tr td {
            font-family: 'Open Sans', sans-serif;
            padding-right: 10px;
        }
        tr td:last-child {
            font-family: 'Raleway', sans-serif;
            padding-right: 0;
        }
    }
    a.app-button {
        div {
            width: calc(100% + 2rem);
            padding: 1rem;
            font-family: 'Open Sans', sans-serif;
            margin-left: -16px;
            margin-right: -16px;
            border-top: 1px solid #e1e1e1;
            i {
                font-size: 25px
            }
        }
        color: #ff4700;
    }
    a:last-child {
        div {
        margin-bottom: -1rem;
        }
    }
    a.app-button:hover, a.app-button:focus {
        text-decoration: none;
        outline: none;
    }
}

.apps{ 
    section {
        margin-bottom: 40px;
    }
    section:last-child {
        margin-bottom: 0;
    }
    .card-columns {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        @media screen and (min-width: map-get($grid-breakpoints, lg)) {
            column-count: 4;
  		}
        @media screen and (max-width: map-get($grid-breakpoints, sm)) {
            column-gap: 0;
        }
        column-count: 3;
        column-gap: 1.25rem;

        a {
            color: #373a3c;
            text-decoration: none;
        }
        a:hover, a:focus {
            color: #373a3c;
            outline: none;
            text-decoration: none;
        }

        .card {
            max-width: 170px;
			margin: 5px;
            @media screen and (max-width: map-get($grid-breakpoints, sm)) {
                max-width: 32vw;
                .card-block {
                    padding-left: 0.2rem;
                    padding-right: 0.2rem;
                }
                .card-title {
                    font-size: 16px;
                }
                .card-text {
                    font-size: 14px;
                    svg {
                        height: 14px;
                        top: 3px;
                    }
                }
  			}
            img {
                width:100%;
                height:auto;
            }
            .card-text {
                svg {
                    height: 16px;
                    margin-right: -6px;
                    position: relative;
                    top: 2px;
                }
            }
        }
    }
  
}

ul.pagination {
    .page-item .page-link:hover, .page-item .page-link:focus  {
        text-decoration: none;
        outline: none;
    }
    .page-item .page-link {
        color: #ff4700;
    }
    .page-item.active .page-link {
        background: #ff4700;
        border-color: #ff4700;
        color: #fff;
    }
    .page-item.disabled .page-link {
        color: #818a91;
    }
}

footer {
    margin-top: 40px;
    background-color: #ff4700;
    color: #fff;
    padding: 5px 10px;
    p {
        display: inline;
    }
    a, a:hover, a:focus {
        color: #ebebeb;
        text-decoration: none;
    }
}